.step {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px 0;
}

    .stepMain, .stepDetails {
      display: flex;
      align-items: center;
    }

        .bullet {
          border-radius: 50%;
          background-color: rgb(77,136,229);
        }

          .bulletBig {
            transition: .3s;
            margin: 10px;
            min-width: 26px;
            max-width: 26px;
            min-height: 26px;
            max-height: 26px;
          }

          .bulletSmall {
            transition: .3s;
            margin: 15px;
            min-width: 16px;
            max-width: 16px;
            min-height: 16px;
            max-height: 16px;
          }